@import "sections/hero-section";  // Import the CTA section styles
@import "sections/navbar-section";  // Import the CTA section styles
@import "sections/cta-section";  // Import the CTA section styles
@import "sections/faq-section";  // Import the CTA section styles
@import "sections/testimonial-section";  // Import the CTA section styles
@import "sections/video-section";  // Import the CTA section styles

.usp-section {
    background-color: aliceblue;
}
.features-section {
    background-color: aqua;
}
.about-us-section {
    background-color: blue;
}
.media-mentions-section {
    background-color: blueviolet;
}
.newsletter-section {
    background-color: bisque;
}
.contact-section {
    background-color: pink;
}
.social-proof-section {
    background-color: burlywood;
}
.footer-section {
    background-color: cadetblue;
}