body {
    font-size: 10px; // base font size
}
#primary {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.75rem;
    }
    
    h5 {
        font-size: 1.5rem;
    }
    
    h6 {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 1.6rem;
    }
    
    small {
        font-size: 0.875rem;
    }
    a {
        font-size: 1.6rem;
    }
}

.tp-landing-page1 {
    // background-color: rgb(10, 95, 129);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    section {
        border: 1px solid crimson;
    }
    .navbar-section {
        background-color: orangered;
        img {
            height: 75px;
        }
    }
    .hero-section {
        background-color: indianred;
    }
    .usp-section {
        background-color: aliceblue;
    }
    .features-section {
        background-color: aqua;
    }
    .testimonial-section {
        background-color: azure;
    }
    .case-studies-section {
        background-color: greenyellow;
    }
    .faq-section {
        background-color: yellow;
    }
    .video-section {
        background-color: red;
    }
    .about-us-section {
        background-color: blue;
    }
    .media-mentions-section {
        background-color: blueviolet;
    }
    .cta-section {
        background-color: chocolate;
        .content {
            background-color: teal;
            text-align: center;
        }
    }
    .newsletter-section {
        background-color: bisque;
    }
    .contact-section {
        background-color: pink;
    }
    .social-proof-section {
        background-color: burlywood;
    }
    .footer-section {
        background-color: cadetblue;
    }
}