.tp-landing-page1 {
    background-color: rgb(10, 95, 129);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: orange;
    .navbar-section {
        background-color: orangered;
        img {
            height: 75px;
        }
    }
}